.table-counter .input-table-counter {
    margin-left: 10px;
    margin-right: 10px;
    width: 24px;
    height: 20px;
}
.table-counter>button, .fixed-left {
    margin-left: 16px;
}
.center-screen {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}