<form ng-submit="submit()" class="am-form am-text-sm">
    <div class="am-panel am-panel-danger am-text-top" style="display: inline-block; width: 340px">
        <div class="am-panel-hd">重要必填</div>
        <div class="am-panel-bd">

            <div class="am-form-group">
                <label>文件编号</label>
                <input class="am-form-field" ng-model="model.file" required>
            </div>

            <div class="am-form-group">
                <label>视频标题</label>
                <input class="am-form-field" ng-model="model.title" required>
            </div>
            <div class="am-form-group am-form-icon">
                <label>拍摄日期</label>

                <div class="am-form-icon"><i class="am-icon-calendar"></i><input datepicker class="am-form-field" type="text" ng-model="model.shootTime" required></div>
            </div>
            <div class="am-form-group">
                <label>所属栏目</label>

                <div class="am-form-icon" data-am-modal="{target: '#amodal', closeViaDimmer: false, width: 300}">
                    <i class="am-icon-tag"></i>

                    <div class="am-form-field static-input">
                        <span class="am-margin-right-xs" ng-repeat="col in model.tags" ng-if="col.type == 2" ng-bind="col.tagname"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-panel am-panel-primary" style="display: inline-block; width: 340px">
        <div class="am-panel-hd">一般选填</div>
        <div class="am-panel-bd">

            <div class="am-form-group">
                <label>发布序号</label>
                <a class="am-btn am-btn-xs am-btn-success am-fr" ng-click="setSortMax()">最大</a>
                <a class="am-btn am-btn-xs am-btn-success am-fr am-margin-right-xs" ng-click="setSortNew()">最新</a>
                <input class="am-form-field" ng-model="model.sort">
            </div>

            <div class="am-form-group">
                <label>推荐度</label><a class="am-btn am-btn-xs am-btn-success am-fr" ng-click="setRecommend()">最大</a>
                <input class="am-form-field" ng-model="model.recommend">
            </div>


            <div class="am-form-group">
                <label>分级信息</label>
                <input class="am-form-field" ng-model="model.grade">
            </div>
        </div>
    </div>
    <section class="am-panel am-panel-default am-text-top" style="display: inline-block; width: 340px">
        <header class="am-panel-hd">其它</header>
        <div class="am-panel-bd">
            <div class="am-form-group">
                <label>视频描述
                    <small>（简短内容摘要）</small>
                </label>
                <textarea class="am-form-field" ng-model="model.descrpition" rows="4"></textarea>
            </div>

            <div class="am-form-group">
                <label>备注</label>
                <textarea class="am-form-field" ng-model="model.note" rows="3"></textarea>
            </div>
        </div>
    </section>

    <hr>
    <button type="submit" class="am-btn am-btn-primary">
        <i class="am-icon-check"></i>
        提交
    </button>
</form>
<div id="amodal" class="am-modal am-modal-confirm" tabindex="-1">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">栏目列表
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <ul class="am-list am-text-left">
                <li ng-class="{active:mTag.indexOf(col.id)>=0}" ng-repeat="col in cols" ng-click="addTag(col)"><a href="" class="am-margin-left" ng-bind="col.tagname"></a></li>
            </ul>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>确定</span>
        </div>
    </div>
</div>
