*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
.idea/
cms-platform.iml
node_modules
#webapp目录由gulp生成但项目配置需要管理
src/main/webapp/resources
src/frontend/lib