<div class="toolbar am-btn-toolbar">
    <div class="am-btn-group am-btn-group-xs">
        <button type="button" class="am-btn am-btn-success" ng-click="clearSearch()">全部视频</button>
    </div>
    <div class="am-btn-group am-btn-group-xs">
        <button type="button" class="am-btn am-btn-primary" ng-click="search(8, '已发布', false)">已发布</button>
        <button type="button" class="am-btn am-btn-primary" ng-click="search(8, '已归档', false)">已归档</button>
        <button type="button" class="am-btn am-btn-primary" ng-click="search(8, '待审核', false)">待审核</button>
    </div>
    <div class="am-btn-group am-btn-group-xs">
        <button type="button" class="am-btn am-btn-primary" ng-click="search(7, '^[^0]\\d*$', true)">推荐</button>
        <button type="button" class="am-btn am-btn-primary" ng-click="search(7, '^0$', true)">未推荐</button>
    </div>
    <div class="am-btn-group am-btn-group-xs">
        <button type="button" class="am-btn am-btn-primary" ng-click="search(2, '^[^0]\\d*$', true)">有序号</button>
        <button type="button" class="am-btn am-btn-primary" ng-click="search(2, '^0$', true)">无序号</button>
    </div>
    <div class="am-btn-group am-btn-group-xs">
        <button type="button" class="am-btn am-btn-primary" ng-click="search(4, '聊天室', false)">聊天室</button>
        <button type="button" class="am-btn am-btn-primary" ng-click="search(4, '[^(聊天室)]', true)">其它栏目</button>
    </div>
    <div class="am-btn-group am-btn-group-xs">
        <button type="button" class="am-btn am-btn-primary" ng-click='search(6,"^$",true)'>新增信息</button>
    </div>
    <div class="help-info">
        <div class="help-title"><i class="am-icon-question-circle"></i></div>
        <div class="help-body">
            <div class="help-item">
                <span class="am-icon-info-circle"></span>
                <span class="am-text-xs">详细信息</span>
            </div>
            <div class="help-item">
                <span class="am-icon-film"></span>
                <span class="am-text-xs">来源信息</span>
            </div>
            <div class="help-item">
                <span class="am-icon-external-link"></span>
                <span class="am-text-xs">网站预览</span>
            </div>
        </div>
    </div>
</div>
<table id="video-manager" class="am-table am-table-striped am-table-hover" frame="below" datatable="" dt-options="dtOptions"
       dt-columns="dtColumns"></table>