<div class="toolbar am-btn-toolbar">
    <div class="am-btn-group am-btn-group-xs">
        <div class="am-checkbox"><label><input type="checkbox" ng-model="update"> 发布时设置序号</label></div>
    </div>
    <div class="help-info">
        <div class="help-title"><i class="am-icon-question-circle"></i></div>
        <div class="help-body">
            <div class="help-item">
                <span class="am-icon-globe"></span>
                <span class="am-text-xs">发布视频</span>
            </div>
            <div class="help-item">
                <span class="am-icon-file-text-o"></span>
                <span class="am-text-xs">下载批处理</span>
            </div>
            <div class="help-item">
                <span class="am-icon-remove"></span>
                <span class="am-text-xs">删除信息</span>
            </div>
        </div>
    </div>
</div>
<table id="video-table" class="am-table am-table-striped am-table-hover" frame="below" datatable=""
       dt-options="dtOptions"
       dt-columns="dtColumns" dt-disable-deep-watchers="true"></table>
<!-- 触发 button -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="confirm-dialog">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除记录</div>
        <div class="am-modal-bd">
            确定要删除这条信息吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-prompt" tabindex="-1" id="prompt-dialog">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">标题</div>
        <div class="am-modal-bd">
            <label>
                发布序号
                <a class="am-btn am-btn-xs am-btn-success" ng-click="setSortMax()">最大</a>
                <a class="am-btn am-btn-xs am-btn-success am-margin-right-xs" ng-click="setSortNew()">最新</a>
            </label>
            <input type="text" class="am-modal-prompt-input" ng-model="sort">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
