<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <context:component-scan base-package="com.yidumen.cms" />
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
        <property name="locations" value="classpath:appengine-service.properties"/>
    </bean>
    <bean id="ossclient" class="com.aliyun.openservices.oss.OSSClient">
        <constructor-arg name="endpoint" value="${oss.ydm.endpoint}" />
        <constructor-arg name="accessKeyId" value="${oss.ydm.accessKeyId}" />
        <constructor-arg name="accessKeySecret" value="${oss.ydm.accessKeySecret}" />
    </bean>
</beans>
